<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h4> Online Tutor App</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/auth/tutorList">List of Tutors</a></li>
        </ul>
    </nav>
    {{#if email }}
            <h4 class="alert alert-success">Welcome to the home page {{name}}</h4>
    {{/if}}
    <table class="table table-bordered" style="margin-left: 5%; margin-right: 5%; width: 90%;">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">About Tutor</th>
        <th scope="col">Subjects</th>
        <th scope="col">Days available</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        </tr>
    </thead>
    <tbody>
        {{#each tutors}}
        <tr>
            <th scope="row">{{@index}}</th>
            <td>{{Name}}</td>
            <td>{{Username}}</td>
            <td>{{About_Me}}</td>
            <td>{{Subject}}</td>
            <td>{{Day}}</td>
            <td>{{start_time}}</td>
            <td>{{end_time}}</td>
        </tr>
        {{/each}}
    </tbody>

    </table>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-6vwVLFThqHVTcjpGiM94fUjCW365IGE+K9c9vT4ukBr06rQVwJs5kE7mYuGaDwY" crossorigin="anonymous"></script>

</body>
</html>